@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400&family=Nunito+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400&family=Nunito+Sans&display=swap");
.bg-pink {
  background-color: rgb(226, 43, 165);
  color: white;
}

.bg-blue {
  background-color: #0d6efd;
  color: white;
}

.bg-gris {
  background-color: rgba(128, 128, 128, 0.582);
}

.bg-verde {
  background-color: #0dfd99;
}

* {
  font-family: "Inconsolata", monospace;
}

html {
  font-size: 62.5%;
}

body {
  background-image: url(../IMG/back.jpg);
  background-attachment: fixed;
  overflow: auto;
  background-size: cover;
}

.encabezado {
  text-align: center;
  width: 100%;
}
.encabezado img {
  border-radius: 5px;
  height: 80%;
  width: 100%;
}

footer {
  text-align: center;
}

.text-center {
  text-align: center;
}

form, .formn {
  margin: 0 auto;
  padding: 0.5rem;
  width: 70%;
  border-radius: 3px;
  font-size: 1rem;
  background-color: rgba(128, 128, 128, 0.5);
}

.field {
  border: solid 1px;
  padding: 10px;
  width: 80%;
}

.bt, .bt-m, .bt-n {
  padding: 0.5rem 1rem;
  color: white;
  font-size: 1em;
  background-color: #0d6efd;
}
.bt:hover, .bt-m:hover, .bt-n:hover {
  background-color: darkblue;
}

.bt-n {
  background-color: #0dfd99;
}
.bt-n:hover {
  background-color: green;
}

.formn {
  width: 20%;
  text-align: center;
}

p {
  font-size: 2rem;
  font-family: "Nunito Sans", sans-serif;
}

@media all and (max-width: 768px) {
  .formn {
    width: 70%;
    text-align: center;
  }
}
h1 {
  font-family: "Nunito Sans", sans-serif;
  text-align: center;
  font-size: 3rem;
  padding: 10%;
}

#botones {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(178, 197, 182, 0.5);
}
#botones ul li a {
  font-size: 2rem;
  text-decoration: none;
  color: black;
}
#botones ul li a:hover {
  color: blue;
  font-weight: 400;
}

.bg-pink {
  background-color: rgb(226, 43, 165);
  color: white;
}

.bg-blue {
  background-color: #0d6efd;
  color: white;
}

.bg-gris {
  background-color: rgba(128, 128, 128, 0.582);
}

.bg-verde {
  background-color: #0dfd99;
}

.video {
  text-align: center;
  display: flex;
  justify-content: center;
}

.parrafovideo {
  font-size: 2rem;
  width: auto;
}

.contenedor {
  display: grid;
  width: 99%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, auto);
  align-items: center;
  grid-template-areas: "nav nav nav " "video cabecera cabecera" "s1 s1 s1" "cont pie pie";
}

.caja1 {
  grid-area: nav;
}

.caja2 {
  grid-area: cabecera;
  margin-top: 5%;
}

.caja3 {
  grid-area: s1;
  margin-top: 5%;
}

.caja4 {
  grid-area: video;
  padding: 10%;
}

.caja5 {
  grid-area: cont;
  margin-top: 2%;
  text-align: center;
}

.caja6 {
  grid-area: pie;
}

@media all and (max-width: 768px) {
  .contenedor {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    align-items: center;
    grid-template-areas: "nav" "cabecera" "video" "s1" "cont" "pie";
  }
}
.bg-pink {
  background-color: rgb(226, 43, 165);
  color: white;
}

.bg-blue {
  background-color: #0d6efd;
  color: white;
}

.bg-gris {
  background-color: rgba(128, 128, 128, 0.582);
}

.bg-verde {
  background-color: #0dfd99;
}

* {
  font-family: "Inconsolata", monospace;
}

html {
  font-size: 62.5%;
}

body {
  background-image: url(../IMG/back.jpg);
  background-attachment: fixed;
  overflow: auto;
  background-size: cover;
}

.encabezado {
  text-align: center;
  width: 100%;
}
.encabezado img {
  border-radius: 5px;
  height: 80%;
  width: 100%;
}

footer {
  text-align: center;
}

.text-center {
  text-align: center;
}

form, .formn {
  margin: 0 auto;
  padding: 0.5rem;
  width: 70%;
  border-radius: 3px;
  font-size: 1rem;
  background-color: rgba(128, 128, 128, 0.5);
}

.field {
  border: solid 1px;
  padding: 10px;
  width: 80%;
}

.bt, .bt-m, .bt-n {
  padding: 0.5rem 1rem;
  color: white;
  font-size: 1em;
  background-color: #0d6efd;
}
.bt:hover, .bt-m:hover, .bt-n:hover {
  background-color: darkblue;
}

.bt-n {
  background-color: #0dfd99;
}
.bt-n:hover {
  background-color: green;
}

.formn {
  width: 20%;
  text-align: center;
}

p {
  font-size: 2rem;
  font-family: "Nunito Sans", sans-serif;
}

@media all and (max-width: 768px) {
  .formn {
    width: 70%;
    text-align: center;
  }
}
h1 {
  font-family: "Nunito Sans", sans-serif;
  text-align: center;
  font-size: 3rem;
  padding: 10%;
}

.bg-pink {
  background-color: rgb(226, 43, 165);
  color: white;
}

.bg-blue {
  background-color: #0d6efd;
  color: white;
}

.bg-gris {
  background-color: rgba(128, 128, 128, 0.582);
}

.bg-verde {
  background-color: #0dfd99;
}

.containerm {
  display: grid;
  width: 99%;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(5, auto);
  align-items: center;
  grid-template-areas: "navm navm navm" "contm headerm headerm" "zapam zapam zapam" "indum indum indum" "piem piem piem";
}

.mujer1 {
  grid-area: navm;
}

.mujer2 {
  grid-area: headerm;
  margin-top: 2%;
}

.mujer3 {
  grid-area: zapam;
}

.mujer4 {
  grid-area: indum;
}

.mujer5 {
  grid-area: contm;
  text-align: center;
}

.mujer6 {
  grid-area: piem;
}

@media all and (max-width: 768px) {
  .containerm {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    align-items: center;
    grid-template-areas: "navm" "headerm" "zapam" "indum" "contm" "piem";
  }
}
.bt-m {
  background-color: rgb(226, 43, 165);
}
.bt-m:hover {
  background-color: palevioletred;
}

.p-nos {
  font-size: 2rem;
  color: black;
  line-height: 2rem;
  font-family: "Inconsolata", monospace;
}

h2 {
  font-size: 3rem;
  color: back;
  line-height: auto;
  font-family: "Nunito Sans", sans-serif;
  text-align: center;
}/*# sourceMappingURL=main.css.map */