@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400&family=Nunito+Sans&display=swap');
@import "_bgcolor";

$mainfont:'Inconsolata', monospace;
$secondfont:'Nunito Sans', sans-serif;

$fontsm:1rem;
$fontmd:2rem;
$fontlg:3rem;

* {
    font-family: $mainfont;
    
}

html{
    font-size:62.5%;
    
}

body{
    background-image: url(../IMG/back.jpg);
    background-attachment: fixed ;
    overflow:auto;
    background-size: cover;
    
}


.encabezado{
    text-align: center;
    width: 100%;
    img{
        border-radius: 5px;
        height: 80%;
        width: 100%;
    }
}

footer{
    text-align: center;
}


.text-center{
    text-align: center;
}

form{
    margin: 0 auto;
    padding: 0.5rem;
    width: 70%;
    border-radius: 3px;
    font-size: $fontsm;
    background-color: rgba(128, 128, 128,50%);
    
}


.field{
    border: solid 1px;
    padding: 10px;
    width: 80%;
}

.bt{
    padding: 0.5rem 1rem;
    color: white;
    font-size: 1em;
    background-color:$bgblue;
    &:hover{
        background-color: darkblue;
    }
}


.bt-n{
    @extend .bt;
    background-color: $bggreen;
    &:hover{
        background-color: green;
    }
}

.formn{
    @extend form;
    width: 20%;
    text-align: center;

}

p{
    font-size:$fontmd;
    font-family: $secondfont;
}

@media all and (max-width:768px){
    .formn{
        width: 70%;
        text-align: center;}
    }


    h1{
        font-family: $secondfont;
        text-align: center;
        font-size: $fontlg;
        padding-top: 10% ;
        padding-bottom: 10%;

    }

    @media all and (max-width:768px){
    .maps{
        width: 80%;}
     
   }

